! Generated with :
! XRDB2Xreources.py
!
*.foreground:  #4d4d4c
*.background:  #eeeeee
*.cursorColor: #4d4d4c
!
! Black
*.color0:      #000000
*.color8:      #000000
!
! Red
*.color1:      #c82829
*.color9:      #c82829
!
! Green
*.color2:      #718c00
*.color10:     #718c00
!
! Yellow
*.color3:      #eab700
*.color11:     #eab700
!
! Blue
*.color4:      #4271ae
*.color12:     #4271ae
!
! Magenta
*.color5:      #8959a8
*.color13:     #8959a8
!
! Cyan
*.color6:      #3e999f
*.color14:     #3e999f
!
! White
*.color7:      #ffffff
*.color15:     #ffffff
!
! Bold, Italic, Underline
*.colorBD:     #4d4d4c

URxvt.termName:         rxvt-256color
URxvt.font:             xft:monospace
URxvt.letterSpace:      -1
URxvt.loginShell:       true
URxvt.geometry:         80x50
URxvt.cutchars:         "`\"'&()*,:;<=>?[\\]^{|}$"
URxvt.saveLines:        10000

! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false

! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.M-w: eval:selection_to_clipboard
URxvt.keysym.C-y: eval:paste_clipboard

URxvt.scrollBar: false
URxvt.visualBell: true

! Perl extensions
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.url-select.underline: true
URxvt.matcher.button:      1

Xft.dpi: 110
Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.autohint: 0
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb